{% extends "PliageBundle::layout.html.twig" %}
        


{% block contenu %}
    
{#    http://getbootstrap.com/css/#grid-options #}
    
    <div id="main" class="container-fluid">
        <div class="row-fluid">
            <div id="left" class="col-lg-4 col-md-6 col-xs-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Images</h1>
                        
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          Faitage
                                        </a>
                                    </h4>
                                </div>
                              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    {% for i in 0..10 %}
                                        <img src="{{ asset('bundles/pliage/images/faitage/faitieresimple50mm.jpeg') }}" />
                                    {% endfor %}
                                </div>
                              </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Rive
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        {% for i in 0..2 %}
                                            <img src="{{ asset('bundles/pliage/images/faitage/faitieresimple50mm.jpeg') }}" />
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Egouts  
                                      </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        {% for i in 0..5 %}
                                            <img src="{{ asset('bundles/pliage/images/faitage/faitieresimple50mm.jpeg') }}" />
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>                                    
                        </div>                        
                    </div>
                </div>
            </div>
            
            <div id="right" class="col-lg-offset-1 col-lg-7 col-md-4 col-xs-12">                
                <div class="row">
                    <div class="col-lg-12">
                        logo Vendee étanchéité
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-5"> 
                        <h2 id="zone-dessin">ZONE DE DESSIN</h2>
                    </div>
                    <div class="col-lg-4">
                        <h2 class="titre2">Référence :</h2><dr/>
                        <h2 class="titre3">Adresse</h2>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="titre2">CH -</h2><dr/>
                        <h2 class="titre3">Date :</h2>
                    </div>
                </div>
                
                <div class="row">    
                    <div class="col-lg-5">
                        <h2>pouet</h2>                        
                    </div>
                    <div class="col-lg-7">
                        <h2 class="titre2">Prise des cotes par :</h2><dr/>
                        <h2 class="titre2">Date de livraison :</h2><dr/>
                        <h2 class="titre2">Fournisseur :</h2>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-center">Pliage acier RAL :</h1>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Emetteur :</h2>
                        <strong>VENDEE ETANCHEITE</strong>
                        <form>
                            <select> 
                                <option>Thierry CHARRIER</option>
                                <option>Gérard BOURON</option>
                                <option>Guillaume PINEAU</option>
                                <option>Maxime</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <h2>Fournisseur :</h2>
                        <strong><input type="nom" name="nom client" placeholder="Nom de l'entreprise" /></strong> <br/>
                        A l'attention de <input type="texte" name="prénom nom" placeholder="Nom Prénom"/><br />
                        n° port. ou fixe entreprise ?
                    </div>
                </div>
                                
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Référence chantier :</h2>
                        <input type="nom" name="nom client" placeholder="Nom du client" /> à <input type="texte" name="nom de chantier" placeholder="Commune" />
                    </div>    
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Date de livraison à notre atelier :</h2> <input type="date" />
                    </div>    
                </div>
                
                
            </div>           
        </div>
                                    
        <div class="row">
            <div class="col-lg-12">
                <input id="btn-print" type="button" class="pull-right btn btn-primary" value="Imprimer" onclick="javascript:window.print();"/>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    

{% endblock %}


{% block css %}
    <style>
        #main{
            margin-top: 30px;
        }
        #imgprofil{
            display : block
        }
        #left{
            background-color: blue;
            max-height: 800px;
            overflow-y: scroll;
            padding-top: 20px;
        }
        #left img{
            cursor : pointer;            
        }
        
{# Présentation feuille A4 #}
            
        #right{
            padding-top: 20px;
            background-color: #ececec;        
        }
        
        #zone-dessin{
            margin-top: -2px;
            border-width: 2px;
            border-color: black;
            border-style: solid;
        }
        
        .titre2{
            color: black;
            font-size: 15px;
            text-decoration: underline;
            margin-top: -2px;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 0;
            line-height: 35px;
            border-width: 2px;
            border-color: black;
            border-style: solid;
        }
        
        .titre3{
            color: black;
            font-size: 15px;
            text-decoration: underline;            
            margin-top: -2px;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            line-height: 45px;
            border-width: 2px;
            border-color: black;
            border-style: solid;
            
        /* Style chargé uniquement lors de l'impression */
        @media print { 
            #left {
                display: none;  
            }
            #menu {
                display: none;
            }
            #btn-print {
                display: none;
            }
        }
    </style>
{% endblock %}

