{% extends "PliageBundle::layout.html.twig" %}

{% block contenu %}
    <h1>Hello World!</h1>

    <input type="date" name="nom" />
    
{% endblock %}

{% block title %} {{ parent() }} - index {% endblock %}
